---
import { Github, Instagram, Linkedin } from '@lucide/astro';
import { Picture } from 'astro:assets';

import PictureProfile from '@/assets/images/profile-picture.png';
// import Button from '@/components/shared/Button.astro';
import { Button } from '@/components/ui/button';
import Layout from '@/layouts/Base.astro';
---

<Layout title="Miguel Mendoza | Zandome">
  <section class="container mx-auto h-dvh">
    <div class="flex min-h-dvh w-full flex-col gap-y-10 md:flex-row">
      <div class="order-2 flex flex-col items-baseline justify-center md:order-1 md:flex-1">
        <h1>
          <span class="block font-mono text-2xl italic text-shadow-indigo-300"> Hello there!</span>
          <span class="bold block text-5xl"> I'm Miguel Mendoza</span>
        </h1>
        <p class="mt-6">
          A passionate Software Developer with a knack for creating efficient and scalable
          applications. My journey in technology is driven by a commitment to continuous learning
          and a desire to solve real-world problems.
        </p>
        <div class="mt-8 flex flex-row gap-x-4">
          <a href="/cv">
            <Button>Know more about me</Button>
          </a>
          <a href="https://instagram.com/byzandome" target="_blank" rel="noopener noreferrer">
            <Button variant="link">
              <Instagram class="h-24 w-24" />
            </Button>
          </a>
          <a href="https://linkedin.com/in/zandome" target="_blank" rel="noopener noreferrer">
            <Button variant="link">
              <Linkedin />
            </Button>
          </a>
          <a href="https://github.com/byzandome" target="_blank" rel="noopener noreferrer">
            <Button variant="link">
              <Github />
            </Button>
          </a>
          <!-- <Button>Contact</Button> -->
        </div>
      </div>
      <div class="order-1 flex items-center justify-center md:order-2 md:flex-1">
        <div class="flex w-2/3 items-center justify-center">
          <Picture
            formats={['webp', 'jpeg']}
            format="webp"
            src={PictureProfile}
            alt="Profile"
            fetchpriority="high"
            transition:animate="slide"
            transition:name="profile"
            class="aspect-square rounded-full border-2 border-white object-cover"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
